.u-mb-sm {
  margin-bottom: 3rem;
}

.u-mb-b {
  margin-bottom: 10rem;

  @media only screen and (max-width: $bp-medium) {
    margin-bottom: 5rem;
  }
}

.error-border {
  border-color: var(--color-primary-red);
}

.error-insert {
  visibility: visible;
}
